body {
    background: #d8d8d8;
}
.container {
    margin-left: 600px;
    margin-top: 200px;
}
.apple {
    background-color: black;
    width: 208px;
    height: 198px;
    border-radius: 35% 35% 41% 41% / 42% 42% 75% 75%;
}
.apple:before {
    background: #000000;
    content: "";
    width: 55px;
    height: 55px;
    position: absolute;
    margin: -51px 0 0 100px;
    border-radius: 100px 0;
    z-index: 5;
}
.apple:after {
    background: #d8d8d8;
    content: "";
    width: 90px;
    height: 90px;
    position: absolute;
    margin: 28px 0 0 174px;
    border-radius: 50%;
    box-shadow: -127px -109.5px 0 #d8d8d8, -118px -107px 0 #d8d8d8, -115.5px -102.5px 0 #d8d8d8, -105.5px -109.5px 0 #d8d8d8, -105px -109.5px 0 #d8d8d8, -129px 166px 0 #d8d8d8, -107.5px 166px 0 #d8d8d8, -119px 161px 0 #d8d8d8;
}